@use 'style-guide' as *;

section {
  height: 100%;
  width: 100%;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.container {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container div.primary {
  font-size: 3em;
  color: $primary-color;
  opacity: 0;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}